<html lang="en">
    <head>
        <title>Alerts</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>TODAY'S SPECIALS!</h1>
                <% specialMenu.forEach((item)=> { %>
                    <h2>
                        <%= restaurantName %>'s offerings:
                    </h2>
                    <% if (restaurant.specials.length> 0) { %>
                        <ul>
                            <li>
                                <p>
                                    Item: <%= special.name %>
                                </p>
                                <p>
                                    Description: <%= special.description %>
                                </p>
                                <p>
                                    Price: <%= special.price %>
                                </p>
                            </li>
                            <% } else { %>
                                    <li>
                                        <p>No specials being offered. Please check back another day!</p>
                                        <% } %>
                                    </li>
                                <% }); %>
                        </ul>
        </main>
    </body>
</html>