<html lang="en">
    <head>
        <title>Alerts</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Alerts Page - Maybe I'll Finish This Porject This Time</h1>
        </main>
    </body>
</html>