<html lang="en">
    <head>
        <title>Menu</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Menu Page - Ideally This Is Finished Too</h1>
        </main>
    </body>
</html>